body {
    font-family: Arial, sans-serif;
    background-color: #2e8b57;
    color: white;
    text-align: center;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #004d00;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game {
    margin-top: 20px;
}

#player-hand, #computer-hand {
    margin-bottom: 20px;
}

#player-cards, #computer-cards {
    margin: 10px 0;
}

/* Modal styles */
#result-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 39vw;
    margin: 0, auto;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    opacity: 1;
    z-index: 1000; /* Ensure it's above other content */
    justify-content: center;
    align-items: center;
    /* Flexbox centering */
    display: flex;

}

#modal-content {
    background-color: #fff;
    color: #000; /* Set text color to black */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 300px;
    max-width: 90%; /* Ensure it's responsive */
}

#modal-message {
    margin-bottom: 20px;
}

#modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
